.login-background {
    // background-color: green;
    // border: 1px solid red;
    // background: rgb(34, 193, 195);
    height: 100vh;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

    .login-container {

        height: 450px;
        width: 400px;
        margin: auto;
        border-radius: 10px;
        background-color: aliceblue;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;


        .login-content {
            padding: 10px;

            .text-login {
                text-align: center;
                font-weight: 600;
                font-size: 20px;
                padding-top: 10px;
            }

            .login-input {
                margin: 7px 0px;

                .custom-input-password {
                    position: relative;

                    .fa-eye {
                        position: absolute;
                        right: 10px;
                        bottom: 9px;
                        cursor: pointer;
                    }

                    .fa-eye-slash {
                        position: absolute;
                        right: 10px;
                        bottom: 9px;
                        cursor: pointer;
                    }

                }
            }

            .btl-login {
                width: 100%;
                margin: 10px 0;
                height: 30px;
                border-radius: 15px;
                outline: none;
                border: none;
                background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
                color: white;
                font-size: 16px;
            }

            .forgot-pw {
                font-size: 12px;
            }

            .social-login {
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;


                .fa-google-plus-g {
                    font-size: 30px;
                    background: red;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin-right: 20px;
                }

                .fa-telegram {
                    font-size: 30px;
                    background: rgb(46, 181, 226);
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin-right: 20px;
                }

                .fa-facebook {
                    font-size: 30px;
                    background: blue;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin-right: 20px;
                }
            }

        }
    }
}