@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;

    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;

        &:hover {
            background-color: darken($colormain, 5);
        }

        i {
            font-size: $base-size + 1px;
        }
    }

    .languague {
        display: flex;
        gap: 10px;

        .languague-body {
            margin: 8px auto;
            display: flex;
            gap: 5px;

            .language-vi {
                cursor: pointer;

                &.active {
                    opacity: 1;
                    color: #f7d800;
                }
            }

            .language-en {
                cursor: pointer;

                &.active {
                    opacity: 1;
                    color: red;
                }
            }
        }
    }
}